/* ---- reset ---- */

html {
  box-sizing: border-box;
  background: rgb(13,0,255);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 100px;
  color: white;
  font-family: 'Press Start 2P';
  display: flex;
  justify-content: center;
}


main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

canvas {
  background-image: url("../img/ground.png");
  width: 672px;
  height: 416px;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  padding-bottom: 40px;
}

#title {
  
  width:700px;
  height: auto;
  margin: 0 auto;
}

#title-small{
  width: auto;
  height: 70px;
}

audio {
  display: none;
}

#play {
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color: white;
}

#play:hover {
  color: orange;
}
#instructions-title {
  font-size: 20px;
  margin-top: 50px;
}

#instructions {
  font-size: 14px;
}

#top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-end;
}

#bombs {
  margin-top: 20px;
}

#bombsScreen{
  height: 32px;
  width: 32px; 
}