/* ---- reset ---- */

html {
  box-sizing: border-box;
  background: rgb(0,34,245);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 150px;
  color: white;
  display: flex;
  justify-content: center;
}

canvas {
  background-image: url("/img/ground.png");
}

#menu {
  background-image: url("../img/menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:800px;
  height: 600px;
}

audio {
  display: none;
}