/* ---- reset ---- */

html {
  box-sizing: border-box;
  background: rgb(13,0,255);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 100px;
  color: white;
  font-family: 'Press Start 2P';
  display: flex;
  justify-content: center;
}


main {
  display:flex;
  justify-content: center;
  flex-direction: column;
  
}

canvas {
  background-image: url("/img/ground.png");
  width: 480px;
  height: 352px;
}

section {
  display:flex;
  justify-content: center;
  flex-direction: column;

  width: 800px;
  
}

#title {
  
  width:700px;
  height: auto;
}

audio {
  display: none;
}

#play {
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color: white;
}

#play:hover {
  color: orange;
}
#instructions-title {
  font-size: 20px;
  margin-top: 50px;
}

#instructions {
  font-size: 14px;
}